apps/research/** linguist-vendored=true
apps/backend/test/** linguist-vendored=true
packages/contracts/test/** linguist-vendored=true
packages/contracts/abi/** linguist-generated
crates/bindings/** linguist-generated
