apps/research/** linguist-vendored=true
crates/tron/protos/** linguist-vendored=true
packages/contracts/test/** linguist-vendored=true
packages/contracts/abi/** linguist-generated
crates/bindings/** linguist-generated
crates/indexer-client/** linguist-generated
infra/openapi-sidecar/dist/** linguist-generated
