apps/research/** linguist-vendored=true
apps/relayer/protos/** linguist-vendored=true
packages/contracts/test/** linguist-vendored=true
packages/contracts/abi/** linguist-generated
crates/bindings/** linguist-generated
crates/indexer-client/** linguist-generated
