receivers:
  otlp:
    protocols:
      grpc:
      http:

  prometheus:
    config:
      scrape_configs:
        - job_name: postgres_exporter
          static_configs:
            - targets: ["postgres_exporter:9187"]

        - job_name: postgrest
          metrics_path: /metrics
          static_configs:
            - targets: ["postgrest:3001"]

processors:
  batch:

exporters:
  prometheus:
    endpoint: "0.0.0.0:9464"

service:
  pipelines:
    metrics:
      receivers: [otlp, prometheus]
      processors: [batch]
      exporters: [prometheus]
